BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 0
Standard: c++17
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1
TabWidth: 4
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortBlocksOnASingleLine: Never
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PackConstructorInitializers: Never
AccessModifierOffset: -4